body{
    background-color: #6500CB;
    text-align: center;
}

.cars{
    text-align: center;
    width: 50%;
    margin: auto;
}

.card{
    background-color: #8B1EF8;
    border: 5px solid black;
    margin-bottom: 70px;
}