*{
    margin: 0;   
   }

body{
    background-color: #6500CB;
    font-family: Impact;
}

main{
    margin-top: 10%;
}

main ::placeholder{
    color: white;
}

main input{
    background-color: #8B1EF8;
    border: 0px;
    text-align: center;
    font-size: 20px;
    outline: none;
}

.mail_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    width: 85%;
    height: 65px;
}

.mail_container input{
    width: 30%;
}

.password_container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    width: 85%;
    height: 65px;
}

.password_container input{
    width: 30%;
}

.button_container{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button_container button{
    width: 15%;
    height: 70px;
    border-radius: 80px;
    font-size: 20px;
    color: white;
    background-color: #8B1EF8;
    border: 0px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.button_container a{
    font-size: 18px;
    color: white;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}