:root {

    /* Charte graphique */
    --grey: gray;
    --bckgrnd: #6500CB;
    --bckblc: #8B1EF8;

    /* Style police */
    --fntimp: 'Impact';
    --textshdw: 0px 0px 10px white;
}

* {
    margin: 0;
}

header {
    background-color: grey;
    border-bottom: 5px solid black;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
}

li {
    list-style: none;
}

a {
    font-size: 1.5em;
    font-family: Impact;
    color: black;
    text-decoration: none;
}