body{
    background-color: #6500CB;
}

main{
    display: flex;
    flex-direction: column;
}

.categorie{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #8B1EF8;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.affichage{
    margin-left: auto;
    margin-right: auto;
}