body{
    background-color: #6500CB;
}

img{
    width: 400px;
}

main p, h1{
    color: white;
}

main{
    display: flex;
    flex-direction: column;
}

.name_container{
    display: flex;
}

.name_container p{
    margin-right: 0.5%;
}